.DS_Store
.idea/
.vscode/
*.iml

# Gradle
.gradle/
**/.gradle/
build/
**/build/
out/
**/out/

# Java
*.class
hs_err_pid*

# Logs
*.log

# Local runtime data
data/
**/data/
indexes/
**/indexes/
*.dat
*.idx
*.bpt

# Binaries produced by some IDEs/builds
bin/
**/bin/


.history/
